*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    
}

#container{
    background-color: rgba(125, 62, 242, 0.59);
    margin: auto;
    margin-top: 6%;
    width: 400px;
    height: auto;
    border: 2px solid #ebb8b8dd;
    border-radius: 0.5rem;
}

#add-task{
    display:flex;
    position:relative;
    height: 45px;
    height: 80%;
    justify-content: space-between;
}

#input-task{
    text-indent: 5%;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 1rem;
    padding-left: 10px;
}

img {
    position: absolute;
    width: 19px;
    height: 14px;
    left: 3px; /* Align the image with the left edge of the input */
    top: 2px; /* Align the image with the top edge of the input */
  }

.add-btn{
    display: none;
    font-size: medium;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color:rgba(179, 49, 130, 0.08);
    border:none;
    border-radius:0.5rem;
    height: 80%;
}

.add-button-active{
    display: block;
    font-size: medium;
    position: absolute;
    top: 9%;
    right: 1%;
    background-color:#b8deb2;
    border: none;
    border-radius: 1rem;
    height: 80%;
}




::placeholder{
    font-size: small;
}

/* paragraph section */
p{
    color: rgb(18 41 42 / 38%);
    display: inline;
}
p:hover{
    cursor:pointer;
}




/*  header section */
header,footer{
    margin: 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

header , main{
    margin: 3%;
    border-bottom: 2px solid rgb(234 220 238);
}
header{
    display: flex;
    flex-direction: column;

}

#header-bottom{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}



/*  main section */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  ul li {
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
    overflow:hidden;
    
}
#task-list input:checked + label {
    text-decoration: line-through;
    color:green
}
.highlight:active{
    color: rgb(238 229 227 / 7%);
}

.delete{
    display: none;
   
}

li:hover .delete{
    display: block;
    color: #962962;
}
/* footer section */
footer{
    word-spacing: 3px;
    font-size: small;
}
/* footer section */
footer{
    word-spacing: 3px;
    font-size: small;
}
